<footer class="footer">
  <div class="container">
    <section class="widgets">
      <img src="./assets/images/logo-w.svg" alt="" class="logo-img" width="240" />
    </section>
    <section class="widgets">
      <address>
        <ul class="list address-list">
          <li class="item">
            <svg class="icon" width="18" height="18">
              <use href="./assets/images/sprite-icons.svg#icon-clock"></use>
            </svg>
            Пн-Сб: 9:00-19:00
          </li>
          <li class="item">
            <a href="https://goo.gl/maps/vn77C8U6mykRLmWo9" class="link">
              <svg class="icon" width="18" height="18">
                <use href="./assets/images/sprite-icons.svg#icon-location"></use>
              </svg>
              м. Київ, м. Лісова, <br />
              вул. Мурманська, 6
            </a>
          </li>
          <li class="item">
            <a href="tel:+380973861494" class="link">
              <svg class="icon" width="18" height="18">
                <use href="./assets/images/sprite-icons.svg#icon-phone"></use>
              </svg>
              (097)386-14-94
            </a>
          </li>
          <li class="item">
            <a href="tel:+380933488899" class="link">
              (093)348-88-99
            </a>
          </li>
        </ul>
      </address>
    </section>
    <section class="widgets">
      <p class="title">Слідкуйте за нами:</p>
      <ul class="list sc-list">
        <li class="item">
          <a href="https://www.facebook.com/parkanhouse-105199285221681/" class="link">
            <svg class="icon" width="32" height="32">
              <use href="./assets/images/sprite-icons.svg#icon-facebook-square"></use>
            </svg>
          </a>
        </li>
        <li class="item">
          <a href="https://www.instagram.com/parkanhouse/" class="link">
            <svg class="icon" width="32" height="32">
              <use href="./assets/images/sprite-icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </section>
  </div>
  <div class="bottom-panel">
    <p>© 2022 PARKANHOUSE</p>
  </div>
</footer>
