:root {
  --accent-cl: #fbbf24;
  --secondary-accent-cl: #f59e0b;
  --primary-alt-cl: rgb(30 58 138);
  --secondary-alt-cl: #1e40af;
  /* TEXT COLORS */
  --primary-txt-cl: rgb(30 41 59);
  --secondary-txt-cl: rgb(30 41 59);

  /* BACKGROUND COLORS */
  --accent-bg: #fff;
  --primary-bg: #fff;
  --secondary-bg: #fff;

  /* FONTS */
  --main-font: 'Jura', 'Raleway', sans-serif;
  --title-font: 'Raleway', 'Source Sans Pro', serif;

  --card-set-item: 1;
  --gap-left: 30px;
  --gap-top: 30px;

  /* ANIMATIONS SPEED */
  --fast: 0.3s;
  --slow: 0.5s;
}
