:root {
  --accent-cl: #eeac12;
  --secondary-accent-cl: #e19f04;

  /* TEXT COLORS */
  --primary-txt-cl: #0b1d4f;
  --secondary-txt-cl: #00336a;

  /* BACKGROUND COLORS */
  --accent-bg: #fff;
  --primary-bg: #fff;
  --secondary-bg: #fff;

  /* FONTS */
  --main-font: 'Manrope', sans-serif;

  --card-set-item: 1;
  --gap-left: 30px;
  --gap-top: 30px;

  /* ANIMATIONS SPEED */
  --fast: 0.3s;
  --slow: 0.5s;
}
