<header class="hero">
  <div class="container">
    <a href="/" class="logo">
      <img src="./assets/images/logo.svg" alt="" class="logo-img" />
    </a>

    <div class="hero-content">
      <h1 class="title page-title">
        ІДЕАЛЬНИЙ ПАРКАН<br />
        ДЛЯ ВАШОГО БУДИНКУ
      </h1>
      <ul class="list hero-list">
        <li class="item">Міцний</li>
        <li class="item">надійний</li>
        <li class="item">довговічний</li>
        <li class="item">красивий</li>
      </ul>
      <button class="btn">Замовити консультацію</button>
    </div>
    <div class="hero-contact-us">
      <p>Або зв’яжіться з нами прямо зараз зручним для вас способом</p>
      <p>
        І ми підберемо найкращий варіант саме для вас та прорахуємо необхідну кількість матеріалів.
      </p>
    </div>
  </div>
</header>
