<section class="section products">
  <div class="container">
    <h2 class="title section-title">
      Хочете встановити чи замінити паркан навколо свого будинку або земельної ділянки?
    </h2>
    <p class="text-accent">Тоді ви там, де треба!</p>

    <p>У нас широкий вибір парканів з різних матеріалів:</p>
    <ul class="list products-list">
      <li class="item">
        <figure>
          <img src="./assets/images/products/2.jpeg" alt="" class="img" />
          <figcaption>декоративні блоки</figcaption>
        </figure>
      </li>
      <li class="item">
        <figure>
          <img src="./assets/images/products/1.jpeg" alt="" class="img" />
          <figcaption>фактурна цегла</figcaption>
        </figure>
      </li>
      <li class="item">
        <figure>
          <img src="./assets/images/products/3.jpeg" alt="" class="img" />
          <figcaption>металеві штахети</figcaption>
        </figure>
      </li>
      <li class="item">
        <figure>
          <img src="./assets/images/products/4.jpeg" alt="" class="img" />
          <figcaption>жалюзі</figcaption>
        </figure>
      </li>
      <li class="item">
        <figure>
          <img src="./assets/images/products/5.jpeg" alt="" class="img" />
          <figcaption>ранчо</figcaption>
        </figure>
      </li>
      <li class="item">
        <figure>
          <img src="./assets/images/products/6.jpeg" alt="" class="img" />
          <figcaption>швидкомонтажні клінкерні стовпчики</figcaption>
        </figure>
      </li>
    </ul>
    <p>Ми слідкуємо за тенденціями та постійно додаємо до асортименту новинки ринку.</p>
    <a href="./assets/downloads/parkanhouse-price.pdf" class="btn">Що почому?</a>
    <p>
      Якщо вам потрібен <strong>просто хороший паркан</strong>, ми залюбки проконсультуємо та
      допоможемо визначитись з парканом саме для вашого будинку.
    </p>
  </div>
</section>
