<section class="section products">
  <div class="container">
    <h2 class="title section-title">
      Хочете встановити чи замінити паркан навколо свого будинку або земельної ділянки?
    </h2>
    <p class="text-accent">Тоді ви там, де треба!</p>

    <p>У нас широкий вибір парканів з різних матеріалів:</p>
  </div>
  <ul class="list products-list">
    <li class="item">
      <a href="#modal" class="link">
        <figure>
          <img src="./assets/images/products/2.jpeg" alt="" class="img" />
          <figcaption>Декоративні блоки</figcaption>
        </figure>
      </a>
    </li>
    <li class="item">
      <a href="#modal" class="link">
        <figure>
          <img src="./assets/images/products/1.jpeg" alt="" class="img" />
          <figcaption>Фактурна цегла</figcaption>
        </figure>
      </a>
    </li>
    <li class="item">
      <a href="#modal" class="link">
        <figure>
          <img src="./assets/images/products/3.jpeg" alt="" class="img" />
          <figcaption>Металеві штахети</figcaption>
        </figure>
      </a>
    </li>
    <li class="item">
      <a href="#modal" class="link">
        <figure>
          <img src="./assets/images/products/4.jpeg" alt="" class="img" />
          <figcaption>Жалюзі</figcaption>
        </figure>
      </a>
    </li>
    <li class="item">
      <a href="#modal" class="link">
        <figure>
          <img src="./assets/images/products/6.jpeg" alt="" class="img" />
          <figcaption>Швидкомонтажні клінкерні стовпчики</figcaption>
        </figure>
      </a>
    </li>
    <li class="item">
      <a href="#modal" class="link">
        <figure>
          <img src="./assets/images/products/5.jpeg" alt="" class="img" />
          <figcaption>Ранчо</figcaption>
        </figure>
      </a>
    </li>
  </ul>
  <div class="container">
    <p>Ми слідкуємо за тенденціями та постійно додаємо до асортименту новинки ринку.</p>
    <a href="./assets/downloads/parkanhouse-price.pdf" class="btn">Що почому?</a>
  </div>
</section>
<section class="section offer">
  <div class="container">
    <div class="hero-contact-us">
      <p>
        Якщо вам потрібен <strong>просто хороший паркан</strong>, ми залюбки проконсультуємо та
        допоможемо визначитись з парканом саме для вашого будинку.
      </p>
      {% include '../components/contact-us.html' %}
    </div>
  </div>
</section>
