<section class="section products">
  <div class="container">
    <h2 class="title section-title">
      Чому вам варто звернутися до нас?
    </h2>
    <ul class="list">
      <li class="item">
        - Ми знаємо усі нюанси та лайфхаки монтажу парканів і обов’язково надамо всі необхідні
        консультації. А отже жодних проблем з монтажем не виникне.
      </li>
      <li class="item">
        - Ми прорахуємо вам необхідну кількість матеріалів так, щоб точно вистачило і не залишилось
        багато зайвого.
      </li>
      <li class="item">
        - Наші паркани легко монтувати, можна комбінувати секції та стовпці з різних матеріалів
      </li>
      <li class="item">
        - Якщо ви хочете побачити, як виглядатиме паркан вживу, можете завітати до нашого
        виставкового майданчика за адресою: м. Київ, м. Лісова, вул. Мурманська, 6
      </li>
    </ul>
    <p>Замовляйте безкоштовну консультацію і ми відповімо на всі ваші запитання.</p>
    <button class="btn">Замовити консультацію</button>
    <p>Або зв’яжіться з нами прямо зараз зручним для вас способом</p>
  </div>
</section>
