<ul class="list contact-us">
  <li class="item">
    <a href="" class="link">
      <svg class="icon" width="32" height="32">
        <use href="./assets/images/sprite-icons.svg#icon-phone"></use>
      </svg>
    </a>
  </li>
  <li class="item">
    <a href="" class="link">
      <svg class="icon" width="32" height="32">
        <use href="./assets/images/sprite-icons.svg#icon-viber"></use>
      </svg>
    </a>
  </li>
  <li class="item">
    <a href="" class="link">
      <svg class="icon" width="32" height="32">
        <use href="./assets/images/sprite-icons.svg#icon-telegram"></use>
      </svg>
    </a>
  </li>
  <li class="item">
    <a href="" class="link">
      <svg class="icon" width="32" height="32">
        <use href="./assets/images/sprite-icons.svg#icon-whatsapp"></use>
      </svg>
    </a>
  </li>
</ul>
